{% extends "base.html" %}

{% block content %}
<h1>Signup for Blogz!</h1>
<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="username">Username:<input name="username" type="username" value="{{ username }}">
                <span class='error'>{{username_duplicate_error}}{{username_blank_error}}{{username_length_error}}{{username_space_error}}
                <span class='error'>

                <span class='error'></span></p></label></td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td><label for="email">Email:<input name="email" type="email" value="{{ email }}"> 
                <span class='error'>{{email_invalid_error}}</span></p></label></td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td><label for="pwd">Password:<input name='pwd' type="password">
                <span class='error'>{{pwd_blank_error}}</span>
                <span class='error'>{{pwd_requirement_error}}</span></p>
            </label></td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td><label for="confirm_pwd">Verify Password:<input name="confirm_pwd" type="password">
                <span class='error'>{{confirm_pwd_blank_error}}</span>
                <span class='error'>{{confirm_error}}</span>
                </p>  
            </label></td>
            <td>
                
            </td>
        </tr>
    </table>
    <input type="submit" value="Signup!">
</form>
{% endblock %}